<!-- {% extends "layout.html" %} -->

{% block content %} 

<div class="container group-form">
    <h1>About TechMo</h1>

    <br>
    <br>
    <br>
    <br>


<div class="row about-row">

    <div class="col about-picture">
            <img src="static/WithGirls.jpg" class="img-responsive" alt="Mom and daughters" style="width: 30em"> 
    </div>

    <div class="col about-info">
     <p>Techmo was started by Nicolette Lewis a Licensed Clinical Social Worker, turned at-home mom and now career changer. Trying to balance being a student in a web development immersive bootcamp and motherhood, Nicolette found out the struggle is real, REAL quick! The struggle invoked a passion for Nicolette to create a platform where moms in tech bootcamps and seasonsed moms working in Tech can join forces to create community in sharing resources, creating study groups, network or enjoy a happy hour. Join TechMo today and become a mom who Tech(s)More!</p>


    </div>

  

</div>
</div>
{% endblock content %} 



