{% extends "layout.html" %}

{% block content %}
<div class="about-team">
  <h2 class="subtitle is-2 animated fadeIn">Founder</h2>
  <div class="columns">

    <div class="column is-half">
      <div class="card about-card ">
        <div class="card-content animated fadeInLeft">
          <div class="media">
            <div class="media-left"> 
              <figure class="image is-128x128">
              <img src="{{ url_for('static', filename='../static/nicolette.jpeg') }}" alt="Nicolette">
              </figure>
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Nicolette</h4>
              <p>gfftbdckdbksdfkdsvbsdkv</p>    
            </div>
          </div>
        </div>
      </div>
    </div>

    

{% endblock %}