{% extends "layout.html" %}

{% block content %}
<div>
<div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container-land">                    
        <div>
        <!-- <img class="animated fadeIn" src="{{ url_for('static', filename='static/cowomen-1450082-unsplash.jpg') }}"> -->
        <!-- <p class="techmo-title animated fadeIn has-text-centered">TechMo</p> -->
        <div class="overlay has-text-centered">
          <div id="typed-strings">
            <div class="typewriter">
              <p><span style="font-weight:900">TechMo TechMoms TechMore</span></p> 
            </div>
              
          </div>
          <span id="typed"></span>
        </div>
      </div>
    </div>
  </div>
  <div class= "mainhero">
    
    </div>
<div class="container">
  <div class="about Level-item has-text-centered">
    <h4 class="subtitle is-2 animated fade-in">Welcome to TechMo</h4>
      <p>TechMo- created by a mom for moms who are in Tech Bootcamps or seasoned Techies to join forces...</p>
      <a class="button" href="{{ url_for ('about') }}">Meet...</a>
    </div>
</div>
</div>

{% endblock %} 