{% extends 'layout.html' %}

{% block content %}
<div class="container profile-container">
	<h1>Profile Page</h1>
		<div class="column">
			<p><span class="title has-text-danger is-bold">{{ user.username }}</span></p> 
			<p><span class="location"><small>Location: {{ user.location }}</small></span></p>
			<a href="{{ url_for('edit_profile', username=current_user.username) }}" class="button is-dark">Edit Profile</a>

			<!-- {% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class={{category}}>{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %} -->
		</div>
		<div class="column">
			<div class="title heading"></div>
				<h1>Resources one</h1> 

				{% for save in savedresources %}
					<p>{{save.resource.title}}</p>
				{% endfor %}
			</div>
		</div>

		<div class = 'd-flex flex-row justify-content-between'>
			

		</div>
	</div>
</div>
 
</div> 

{% endblock %} 