{% extends 'layout.html' %}

{% block content %}

	<div class="columns resource-show">
		<h1>Resource Page</h1>
		<div class="column left-side has-text-centered">
					<h1 class="is-4 has-text-danger">{{ resource.title }}</h1>
					<p class="is-size-6"> Created By {{ resource.user.username }}</p>
					<p class="is-size-6"> Date: {{ resource.timestamp }}</p>
					<a href="{{ url_for('save_to_favorite', resource_id=resource.id) }}" class="button is-small is-dark">Save Resource</a>
					{% if current_user.id == resource.user.id %}
						<a href="{{ url_for('edit_resource', resource_id=resource.id)}}" class="button is-light is-small">Edit Resource</a><button class="button is-danger is-small modal-button">Delete Resource</button>
						<div class="modal">
							<div class="modal-background has-background-grey-dark"></div>
							<div class="modal-content">
								<p class="has-text-white">Delete Resource?</p>
								<a href="{{ url_for('delete_resource', resource_id=resource.id) }}" class="button is-danger is-small">Yes, Delete!</a><button class="button is-light is-small modal-button">No</button>
							</div>
							<button class="modal-close is-large" aria-label="close"></button>
						</div>
			{% endif %}
			<p class="resource-content is-size-5">Description: {{ resource.content }}</p>
			<p class="is-size-5">Category: {{ resource.category }} </p>		

			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class={{category}}>{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>				
		
{% endblock %}