{% extends 'layout.html' %}
{% block content %}
<h3>Resources</h3>
<div class ="d-flex flex-column-center">
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div>{{ form.category.label }}</div>
        <div>{{ form.category() }}</div>
        <div>{{ form.title.label }}</div>
        <div>{{ form.title()}}</div>
        <div>{{ form.content.label }}</div>
        <div>{{ form.content() }}</div>
        <div>{{ form.submit }}</div> 
    </form>

    <div class ="d-flex flex-column">
        {% for resource in resources %}
            
            <div>{{ resource.category }}</div>
           
            <div>{{ resource.title }}</div>
           
            <div>{{ resource. content }}</div>
            
            <a href="{{ url_for('save_to_profile', resource_id=resource.id) }}">SAVE</a>
            
            <a href="/delete-resource/{{resource.id}}">DELETE</a> 
        {% endfor %}
    </div>
</div>

   
{% endblock %}